@charset "UTF-8";

/* ページの基本レイアウト */

body {
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	font-size: 14px;
	background: #ffffff;
	color: #444444;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	color: #0033cc;
	outline:none;
}

a:visited {
	color:#885577;
}

a:hover {
	text-decoration: none;
	color: #339933;
}


input[type="radio"] {
	margin-left: 20px;
	margin-right: 5px;
}

input[type="checkbox"] {
	margin-left: 0;
	margin-right: 5px;
}


textarea:focus,input[type="text"]:focus {
	box-shadow: 0 0 3px #cccccc;
	border:1px solid #999999 !important;
}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.a_line {
	clear: both;
	margin: 5px 0 0;
	text-align: right;
}

.description{
	font-size:90%;
	line-height:150%;
}


/******** 大枠 ********/

#novel_header {
	width:100%;
	text-align:left;
	height: 48px;
	background:url(novelheader_bg.png) repeat-x top left #ffffff;
	position: fixed;
	top:0;
	left:0;
	z-index: 3;
}

#container {
	margin: 55px auto 0;

		margin-top:0px\9; /* IE8 and below */
		padding-top:55px\9; /* IE8 and below */
		*margin-top:0px; /* IE7 and below */
		*padding-top:55px; /* IE7 and below */
		_margin-top:0px; /* IE6 */
		_padding-top:55px; /* IE6 */
	z-index: 2;
}

.contents1 {
	margin: 0 auto 15px;
	padding: 8px 20px;
	background:#ffffff;
	line-height:180%;
	width:700px;
}

/* 未ログイン時のブックマーク案内　ページ上部 */
.box_announce_bookmark {
	margin: 0 auto;
	padding: 8px 20px;
	background:#ffffff;
	width: 700px;
	font-size:85%;
}

/* 未ログイン時のブックマーク案内　ページ下部 */
.box_footer_announce_bookmark {
	margin: 0 auto;
	padding: 8px 20px;
	background:#ffffff;
	width: 740px;
}



.announce_bookmark a{
	margin: 0 3px;
	color:#dd3333 !important;
	font-weight:bold;
	text-decoration:underline;
}

/* 凍結解除の案内 */
.attention_suspended {
	margin: 0 auto 30px auto;
	padding-top: 10px;
	width: 730px;
}

#footer {
	padding: 10px 0 20px 50px;
	clear: both;
	border-top:1px solid #cccccc;
	background:#ffffff;
}


/******** header nav ********/
.toggle_menuclose,.novelview_navi {
	display:none;
}

.novelview_navi {
	position: absolute;
	top: 40px;
	right: 10px;
	border:1px solid #cccccc;
	background: #fdfdfd;
	padding: 15px 10px 10px 15px;
	font-size: 90%;
	line-height:180%;
	width:180px;
}

.novelview_menu li{
	margin-right:5px;
	text-align:left;
	float: left;
}

ul.novelview_menu a {
	color: #0033cc;
}
ul.novelview_menu input[type="text"]{
	width:25px;
	background:#eeeeee;
}


div.color input[type="radio"] {
		margin-left: 5px !important;
}

div.color{
	margin:15px 0 20px 0;
}

div.size{
	margin:10px 0 20px 0;
}

#menu_off_2{
	margin: 8px 0 0 0;
	padding: 8px 0 0 0;
	border-top:1px solid #cccccc;
	font-size:90%;
	display:block;
	line-height: 100%;
	text-align:center;
	cursor: pointer;
}



/* 挿絵切替 */
img#sasieflag {
	margin: 0 0 0 5px;
	padding: 0;
}

/******** header nav ********/

ul#head_nav {
	margin: 0 auto;
	width: 740px;
}

ul#head_nav li {
	margin: 0;
	padding: 11px 0 0 0;
	float: left;
	display: block;
	font-size:13px;
}
.pdflilnk {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	background-color:transparent;
	border:none;
	cursor: pointer;
}
ul#head_nav li a, .pdflilnk {
	padding: 5px 10px;
	color: #666666;
	font-weight:bold;
	display: block;
	border-left:1px solid #cccccc;
}

ul#head_nav li a:hover, .pdflilnk:hover {
	background:#fafafa;
}


/* ノーマルお気に入り */
ul#head_nav li.booklist_markon {
	padding: 3px 5px;
	display: block;
}



/* 表示調整 */
#novelnavi_right {
	position: fixed;
	top:0;
	right:0;
	width:320px;
}

#novelnavi_right #menu_on,#novelnavi_right #menu_off{
	margin: 5px 15px 0 0;
	position: fixed;
	top:5px;
	right:5px;
	padding:5px 0;
	cursor: pointer;
	width:70px;
	text-align:center;
	font-size:85%;
	color:#666666;
	font-weight:bold;
}

#novelnavi_right #menu_on{
	border:1px solid #bbbbbb;
	border-bottom:1px solid #999999;
	background:#ffffff;
}

#novelnavi_right #menu_off{
	border:1px solid #aaaaaa;
	border-bottom:1px solid #cccccc;
	background:#f3f3f3;
}


/******** ブックマークここから ********/
/* ブクマ：booklist */
ul#head_nav li.booklist {
	margin: 0 0 0 10px;
	padding: 9px 0 0 0;
}

ul#head_nav .button_bookmark {
	font-size:12px;
	padding: 5px 10px;
	border-style:solid;
	border-width:2px;
	text-align:center;
	font-weight:bold;
}


/* ブクマ ログイン状態の表示 */
ul#head_nav .booklist .login {
	background:#fffaf4;
	border-color:#f4c28d;
	color:#efac6a;
}

ul#head_nav .booklist a.login:hover {
	color:#e57c13;
	border-color:#ed9f4a;
	background:#fff7ee;
}

/* ブクマ 未ログイン状態の表示 */
.booklist .logout {
	background:#fafafa;
	border-color:#cccccc;
	color:#aaaaaa;
	display:block;
}

/* ブクマ済み表示 */
ul#head_nav .booklist .change {
	color:#6a80ef;
	border-color:#8e9ff5;
	background:#f5f7ff;
}

ul#head_nav .booklist a.change:hover {
	color:#1236e5;
	border-color:#4a65ed;
	background:#edf0ff;
}
/*ブックマークモーダル拡張*/
.narou_modal .bookmark-change {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}
.narou_modal .bookmark-change input.button {
	margin: 0;
	min-width: 190px;
	width: auto;
}


/* しおり：bookmark */
ul#head_nav li.bookmark_now {
	margin: 10px 0 0 10px;
	padding: 3px 0 0 0;
	width:60px;
	height:28px;
	background:url(bookmarker_on.png) no-repeat top left;
}

ul#head_nav li.bookmark_now a {
	padding: 0 0 0 20px;
	height:20px;
	color: #888888;
	font-size:85%;
	border:none;
	font-weight:normal;
}

ul#head_nav li.bookmark_now a:hover {
	background:url(bookmarker_on.png) no-repeat top left;
	font-weight:bold;
}


ul#head_nav li.bookmark {
	margin: 10px 0 0 10px;
	padding: 3px 0 0 0;
	width:60px;
	height:28px;
	background:url(bookmarker.png) no-repeat top left;
	border:none;
	text-indent:-9999px;
}

/******** ブックマークここまで ********/



/******** 連載目次のブックマーク ここから ********/
.novellingindex_bookmarker_no {
	text-align: right;
	padding:0 20px 0 0;
	margin-top: 20px;
}

.novellingindex_bookmarker_no a{
	background:url(bookmarker_on.png) no-repeat bottom left;
	padding: 0 0 0 20px;
	display: inline-block;
	font-size: 90%;
}

.novel_sublist2 span.bookmarker_now {
	overflow: hidden;
	width: 20px;/* トリミングしたい枠の幅 */
	height: 15px;/* トリミングしたい枠の高さ */
	position: relative;
	vertical-align:top;
	display: inline-block;
	background:url(bookmarker_on.png) no-repeat bottom center;
	margin:5px 0 0 0;
}

.novel_sublist2 img {
	position:absolute;
	bottom:0px;
	left:0px;
}

.novel_sublist2.underline {border-bottom:1px solid #444;}

.novel_sublist2.underline a {
	font-weight: bold;
}

/******** 連載目次のブックマーク ここまで ********/



/******** 本文（後書き）下のメニュー ここから ********/
/* メニューのwrap */
.wrap_menu_novelview_after {
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background: #ffffff;
	box-sizing: border-box;
	margin-top: 10px;
}

/* メニューを小説コンテンツ幅に合わせる */
.box_menu_novelview_after {
	margin: 0 auto;
	width: 740px;
}

/* メニュー枠 */
.menu_novelview_after {
	display: inline-block;
	padding:10px 0;
	font-size: 0;
}

/* メニュー */
.list_menu_novelview_after {
	text-align: center;
	display: inline-block;
	border-right:1px solid #cccccc;
	font-weight:bold;
	font-size: 13px;
}

.list_menu_novelview_after:first-child {
	border-left:1px solid #cccccc;
}

.list_menu_novelview_after a {
	display: inline-block;
	padding: 3px 10px;
	color: #666666 !important;
}

.list_menu_novelview_after a:hover {
	color: #666666 !important;
	background: #fafafa;
}

.list_menu_novelview_after span {
	display: inline-block;
	padding: 3px 10px;
	color: #ccc !important;
}


/* ブクマ：ul */
.footerbookmark {
	float: right;
	display: inline-block;
}

.footerbookmark li {
	float: left;
	display: inline-block;
	font-size:13px;
}

.footerbookmark li a {
	padding: 0;
	color: #666666;
	font-weight:bold;
	display: inline-block;
}

/* ブクマ：booklist */
.footerbookmark li.booklist {
	margin:10px 0;
}

.footerbookmark .button_bookmark {
	font-size:12px;
	padding: 5px 10px;
	border-style:solid;
	border-width:2px;
	text-align:center;
	font-weight:bold;
	line-height: normal;
}

/* ブクマ ログイン状態の表示 */
.footerbookmark .booklist .login {
	background:#fffaf4;
	border-color:#f4c28d;
	color:#efac6a !important;
}

.footerbookmark .booklist a.login:hover {
	background:#fff7ee;
	border-color:#ed9f4a;
	color:#e57c13 !important;
}


/* ブクマ中 */
.footerbookmark li.booklist .change {
	color:#6a80ef !important;
	border-color:#8e9ff5;
	background:#f5f7ff;
}

.footerbookmark li.booklist a.change:hover {
	color:#1236e5 !important;
	border-color:#4a65ed;
	background:#edf0ff;
}

/* しおり：bookmark */
.footerbookmark li.bookmark_now {
	margin: 10px 10px 0 10px;
	padding: 0;
	width:60px;
	height:35px;
	background:url(bookmarker_on.png) no-repeat top left;
}

.footerbookmark li.bookmark_now a {
	padding: 3px 0 0 20px;
	color: #888888 !important;
	font-size:85%;
	border:none;
	font-weight:normal;
	line-height:110%;
}

.footerbookmark li.bookmark_now a:hover {
	background:url(bookmarker_on.png) no-repeat top left;
	font-weight:bold;
}

.footerbookmark li.bookmark {
	margin: 10px 10px 0 10px;
	padding: 0;
	width:60px;
	height:35px;
	background:url(bookmarker.png) no-repeat top left;
	text-indent:-9999px;
	font-size:85%;
}

/******** 本文（後書き）下のメニュー ここまで ********/



/******** footer ********/
.upper {
	margin: 20px 20px 10px 0;
	text-align: right;
	font-size:90%;
}

ul:after {
	content: "";
	display: block;
	clear: both;
}

#novel_footer {
	margin: 20px auto;
	padding: 10px 5px;
	border-top:3px double #999999;
	border-bottom:3px double #999999;
	width: 730px;
	box-sizing: border-box;
}

#novel_footer .undernavi li {
	margin: 0 10px;
	float: left;
	text-align: center;
	font-size:110%;
}

#novel_footer .undernavi a {
	height: 20px;
	font-weight:bold;
}


#footer .undernavi li {
	margin: 0 30px 0 0;
	padding: 5px 0 0 0;
	float: left;
	text-align: center;
}

#footer .undernavi a {
	height: 20px;
}

#footer .undernavi a {
	color: #0033cc;
}

#footer .undernavi a:visited {
		color:#885577;
}

#footer .undernavi a:hover {
	color: #339933;
}

#search {
	padding: 0;
}

#search input[type="text"]{
	width: 150px;
	padding: 2px;
	font-size:120%;
}

/******** contents ********/
#novel_contents {
	margin: 0;
	padding: 0 0 10px 0;
	text-align:left;
	line-height: 180%;
	clear:both;

	position: relative;
	top:10px;
	left:0;
}

#novel_color{
	font-family: "メイリオ", "Meiryo", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	width: 730px;
}


.series_title {
		margin: 0 auto 5px;
		text-align: center;
		line-height: 150%;
}

.chapter_title {
		line-height: 150%;
}


.novel_title,.novel_subtitle {
	margin: 0 auto 10px;
	text-align: center;
	font-size: 170%;
	font-weight: bold;
	line-height: 150%;
}

.margin_l10r20{
	margin-left: 10px;
	margin-right: 20px;
}
.margin_r20{
	margin-right: 20px;
}

.novel_writername {
	margin:20px 0;
	text-align: right;
	font-size: 95%;
}

.novel_view{
	line-height: 180%;
}
.novel_view p {
	white-space: break-spaces;
}
.novel_view p ruby {
	white-space: initial;
}
#novel_no {
	margin: 0 10px 10px 0;
	text-align: right;
	color:#999999;
	font-size: 90%;
}

#novel_p {
	margin:0px auto 30px;
	padding: 20px 20px 30px 20px;
	width: 600px;
	border-bottom: 3px double #999999;
}

#novel_a {
	margin: 40px auto 30px;
	padding: 20px 20px 30px 20px;
	width: 600px;
	border-top: 3px double #999999;
}

#novel_honbun {
	margin:30px auto 50px;
	padding: 0 20px 0 20px;
	width: 600px;
}


#novel_ex{
	margin: 20px auto 50px;
	line-height: 180%;
	overflow: hidden;
	text-align: left;
	font-size:95%;
}


/* 目次 */
#novel_sublist {
	margin: 0 auto 30px;
	padding: 0;
	width: 720px;
	text-align: left;
	overflow: hidden;
}

#novel_sublist tr {
	border-bottom:1px solid #ffffff;
}

#novel_sublist tr:hover {
	border-bottom:1px solid #99ddff;
}

#novel_sublist tr.chapter{
	border:none;
}

th.chapter_title {
	font-size: 110%;
	padding: 20px 0 10px 0;
}

td.subtitle{
	padding: 10px 10px 0 5px;
	width: 520px;
	font-size: 95%;
}

td.long_update{
	padding: 10px 0 0 0;
	width: 190px;
	vertical-align:top;
	font-size: 90%;
}



/* 目次2 */
.index_box {
	margin: 0 auto 30px;
	width: 720px;
}

div.chapter_title {
	font-size: 110%;
	padding: 30px 0 0 0;
	font-weight:bold;
}

dl.novel_sublist2 {
	overflow: hidden;
	border-bottom:1px solid #ffffff;
}

dl.novel_sublist2:hover {
	border-bottom:1px solid #99ddff;
}

dl.novel_sublist2 dd{
	padding: 10px 10px 2px 5px;
	width: 515px;
	font-size: 95%;
	float:left;
}

dl.novel_sublist2 dt{
	padding: 10px 0 2px 0;
	width: 190px;
	text-align: left;
	font-size: 90%;
	float:right;
	white-space: nowrap;
}





/******* 広告 *******/
.koukoku_728 {
	margin:20px auto;
	width:728px;
	clear:both;
}

.koukoku_auto {
	margin:40px auto 20px;
	text-align:center;
}

.koukoku_text {
	margin:10px auto;
	width:728px;
	clear:both;
}
.koukoku_300x2 {
	width: 680px;
	display: flex;
	margin: 20px auto;
	justify-content: space-between;
} 
.koukoku_300x2__ad {
	width: 300px;
}
.contents1 .koukoku_468 {
	margin:10px 0 0 0;
	width:468px;
	height:60px;
	background:#cccccc;
}

#longstop{
	margin:10px 0 10px 0;
}


.novel_bn {
		text-align: center;
}


.novel_bn a {
		font-size: 90%;
		margin: 0 10px;
}


/******** ページトップに戻る ********/
#pageTop{
		background:#ccdddd;
		border-radius:5px;
		font-size: 90%;
		color:#666666;
		text-shadow: 1px 1px 0 #ffffff;
		padding: 10px;
		position:fixed;
		bottom:20px;
		right:20px;
}
#pageTop:hover{
		color:#ffffff;
		text-shadow: none;
		background:#99bbcc;
}


/******** ページ下に移動する ********/
#pageBottom{
		background:#ccdddd;
		border-radius:5px;
		color:#666666;
		text-shadow: 1px 1px 0 #ffffff;
		padding: 10px;
		position:fixed;
		top:50px;
		right:20px;
		z-index: 3;
}
#pageBottom:hover{
		color:#ffffff;
		text-shadow: none;
		background:#99bbcc;
}

/* 公式企画応援ボタン */
.wrap_eventpoint {
	margin: 0 auto;
	width: 470px;
	height: 270px;
	padding-top: 200px;
	box-sizing: border-box;
	background-image: url(/novelview/img/event/bg_support_pc.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
}

.wrap_eventpoint button {
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	text-align: center;
	border-radius: 2em;
	padding: 0.5em 1em;
	color: #fff;
	border: 2px solid #edc844;
	background-color: rgba(237, 200, 68, 0.5);
	transition: all 0.2s;
}

.wrap_eventpoint button:hover {
	border-color: #f1d673;
	background-color: rgba(237, 200, 68, 0.75);
}


/* 前回の評価 */

#my_novelpoint {
	margin: 0;
}

hr.style{
	margin: 20px 0;
	border:0;
	border-top:1px dotted #999999;
}

#my_novelpoint b{
	margin: 0 15px 0 0;
}

#my_novelpoint .button_box {
	margin: 15px 0 5px 0;
}

#my_novelpoint a.button {
	padding: 5px 0;
	text-align: center;
			color: #333333 !important;
	background:#eeeeee;
	border-width: 0;
	border: 2px solid #cccccc;
	border-bottom: 2px solid #888888;
	letter-spacing: 2px;
	display:block;
	width: 150px;
}

#my_novelpoint .button:hover {
	cursor: pointer;
			color: #333333;
	background: #ddeefa;
	border: 2px solid #aaccdc;
}

p.point_info {
	text-align:left;
	font-size:90%;
	line-height: 150%;
	color:#666666;
}



/* 感想・レビュー枠 */
#hyoukalan {
	background: none repeat scroll 0 0 #FEFEFE;
	border: 2px solid #DDDDDD;
	clear: both;
	margin: 0 auto 20px;
	padding: 10px 20px;
	width: 430px;
	text-align: center;
}

#impression,#review {
	margin: 0 auto 20px auto;
	padding: 10px 30px;
	width: 410px;
	background: none repeat scroll 0 0 #FEFEFE;
	border: 2px solid #DDDDDD;
	clear: both;
}

#novel_contents #impression a,
#novel_contents #review a,
#novel_contents #novel_hyouka a {
	color: #0033cc;
}

#novel_contents #impression a:visited,
#novel_contents #review a:visited,
#novel_contents #novel_hyouka a:visited {
	color:#885577;
}

#novel_contents #review a.button{
	color:#333333;
}

#impression p.description,#review p.description{
	padding: 0 20px 20px 0;
}

#impression textarea,#review textarea{
	margin: 5px 0 20px 0;
	padding: 3px;
	line-height: 150%;
	font-size:105%;
	background:#fdfdfd;
	border:1px solid #cccccc;
	width:400px;
}

.pointer {
	cursor: pointer;
}

#review input[type="text"]{
	margin: 5px 0 5px 0;
	padding: 3px;
	line-height: 150%;
	font-size:105%;
	background:#fdfdfd;
	border:1px solid #cccccc;
	width:400px;
}

#review label{
	color:#666666;
	font-size:90%;
}



.hyoukanavi_title {
	margin-bottom: 10px;
	font-weight:bold;
	text-align:center;
}


#hyoukanav {
	margin: 20px auto 0 auto;
	width: 470px;
	text-align: left;
}

#hyoukanav li {
	margin-left: 15px;
	padding: 5px 0 3px 0;
	color: #000000;
	float: left;
}

#hyoukanav li.solid {
	margin: 0 5px 0 0;
	padding: 0;
}

#hyoukanav a {
	padding: 5px 10px 5px 10px;
	display: block;
}

/******** 注意書き ********/
#novel_attention {
	margin: 20px auto 0 auto;
	padding: 15px 20px;
	font-size: 90%;
	line-height: 180%;
	border: 5px solid #dddddd;
	background: #ffffff;
	width:730px;
	box-sizing: border-box;
}

/* 感想を書く枠内の注意書き */
.novelreport_attention {
	margin: 0 0 20px 0;
	color: #dd0000;
	font-size: 90%;
}


/******** IEだけ縦書きメニュー ********/
a.tateyoko {
	margin:10px 0 0 0;
	font-size: 120%;
	padding: 3px 7px;
	border:1px solid #999999;
	background:#ffffff;
	color:#444444;
}

a.size {
	margin-right:7px;
	font-size: 120%;
	padding: 3px 7px;
	border:1px solid #999999;
	background:#ffffff;
	color:#444444;
}

a.size:hover,a.tateyoko:hover {
	color:#444444;
	background:#eeffff;
}


/* 閲覧ページの感想・レビュー見出し */
.hyoukanavi_title {
	text-align:center;
	font-weight:bold;
	font-size: 110%;
}

/* 完了後メッセージ */
#onetime {
	margin: 100px 0 100px 0;
	padding:5px;
	font-weight:bold;
	color:#dd0000;
	background:#ffffff;
}


/************** レコメンド **************/
#recommend {
	margin:10px auto 0 auto;
	padding:15px 5px 5px 10px;
	background:#eeeeee;
	border:1px solid #999999;
	height:300px;
	overflow:auto;
	width: 730px;
}

#recommend h3 {
	margin: 0 0 10px 5px;
	font-size:110%;
	font-weight:bold;
}


.recommend_novel {
	margin: 5px 10px 5px 0;
	padding: 10px 15px 10px 15px;
	border:1px solid #999999;
	font-size:90%;
	background:#ffffff;
}


.recommend_novel a{
	color:#333333;
	text-decoration:underline;
}

.recommend_novel a:visited {
		color:#999999;
}

.recommend_novel a:hover {
	color:#000000;
	background:#ffffee;
}


.reconovel_title {
	font-size:140%;
	font-weight:bold;
	clear:both;
}

.recommend_ex{
	margin: 10px 0 5px 0;
	line-height: 150%;
}


ul.reco {
	margin: 3px 0;
}

ul.reco li {
	margin: 3px 0 0 0;
	padding: 2px 10px 2px 0;
	text-decoration: none;
	list-style: none;
	float: left;
	display: block;
}

ul.reco li.genre {
	margin: 3px 10px 0 0;
	border:1px solid #cccccc;
	padding: 2px 4px 2px 4px;
	background:#ffffff;
}

ul.reco li.user {
	margin-right: 10px;
	padding: 2px 4px 2px 4px;
	background:#ccffee;
	color:#00A069;
	font-weight:bold;
}


/* ボタン */
.button_box {
	margin: 15px 0 5px 0;
	text-align:center;
	clear: both;
}

.button_box a.button{
	margin: 0 auto;
}

.button {
	margin: 5px;
	padding: 5px 15px 5px 15px;
	text-align: center;
			color: #333333;
	background:#fffcde;
	border-width: 0;
	border: 2px solid #fcd27e;
	letter-spacing: 2px;
}

.button:hover {
	cursor: pointer;
	color: #333333;
	background: #ddeefa;
	border: 2px solid #aaccdc;
}

a.button:visited {
			color: #333333;
}

a.button {
	display:inline-block;
}


.nothing{
	margin: 20px 0 20px 0;
	text-align: center;
	color:#cc6666;
}




.attention{
	color: #dd0000;
}

.clr {clear:both;}



/* ランキングタグ */
.center {
	margin: 20px 0;
	text-align: center;
}

/* =========== ランキングタグ利用可能タグスタイル設定 =========== */
.novelrankingtag{
	text-align: center;
	overflow: auto;
	position: relative;
}

.novelrankingtag h1,.novelrankingtag h2,.novelrankingtag h3,.novelrankingtag h4,.novelrankingtag h5,.novelrankingtag h6{
	font-weight: bold;
}
.novelrankingtag em,.novelrankingtag abbr,.novelrankingtag dfn{
	font-style: italic;
}
.novelrankingtag blockquote{
	padding:10px;
	background: #f8f9fa;
}
.novelrankingtag kbd{
	padding:2px;
	background: #f8f9fa;
}
.novelrankingtag bdo[dir="rtl"]{
	direction: rtl;
	unicode-bidi: isolate-override;
}
.novelrankingtag bdo[dir="ltr"]{
	direction: ltr;
	unicode-bidi: isolate-override;
}
.novelrankingtag ul,.novelrankingtag ol {
	padding-left: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.novelrankingtag ul li{
	list-style-type: circle;
}
.novelrankingtag ol li{
	list-style-type: decimal;
}
.novelrankingtag dl dt{
	font-weight: bold;
}
.novelrankingtag dl{
	width: 320px;
	display: flex;
	margin: 0 auto;
}
.novelrankingtag dt{
	width: 80px;
}
.novelrankingtag dd{
	width: 240px;
}
.novelrankingtag table{
	text-align: left;
	margin:0 auto;
}
.novelrankingtag caption{
	text-align: center;
}
.novelrankingtag fieldset{
	border: 1px solid #333;
}



/* カスタムレイアウト */
/* 標準設定 */
body.customlayout1 {background-color:#fff; background-image:none;}
#novel_color.customlayout1 {color:#444;}
#novel_contents.customlayout1 div.novelrankingtag,
#novel_contents.customlayout1 .customlayout-color {color:#444;}
#novel_contents.customlayout1 a:link,
#novel_contents.customlayout1 .customlayout-color a:link {color:#03c;}
#novel_contents.customlayout1 a:visited,
#novel_contents.customlayout1 .customlayout-color a:visited {color:#857;}
#novel_contents.customlayout1 a:hover,
#novel_contents.customlayout1 .customlayout-color a:hover {color:#393;}
.novel_sublist2.underline.customlayout1 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout1 {border-color:#fff;}
dl.novel_sublist2.customlayout1:hover {border-color:#9df;}

/* ブラックモード1 */
body.customlayout2 {background-color:#000; background-image:none;}
#novel_color.customlayout2 {color:#fff;}
#novel_contents.customlayout2 div.novelrankingtag,
#novel_contents.customlayout2 .customlayout-color {color:#fff;}
#novel_contents.customlayout2 a:link,
#novel_contents.customlayout2 .customlayout-color a:link {color:#fcf;}
#novel_contents.customlayout2 a:visited,
#novel_contents.customlayout2 .customlayout-color a:visited {color:#857;}
#novel_contents.customlayout2 a:hover,
#novel_contents.customlayout2 .customlayout-color a:hover {color:#f03;}
.novel_sublist2.underline.customlayout2 {border-bottom:1px solid #fff;}
dl.novel_sublist2.customlayout2 {border-color:#000;}
dl.novel_sublist2.customlayout2:hover {border-color:#f03;}

/* ブラックモード2 */
body.customlayout3 {background-color:#000; background-image:none;}
#novel_color.customlayout3 {color:#ccc;}
#novel_contents.customlayout3 div.novelrankingtag,
#novel_contents.customlayout3 .customlayout-color {color:#ccc;}
#novel_contents.customlayout3 a:link,
#novel_contents.customlayout3 .customlayout-color a:link {color:#ff9;}
#novel_contents.customlayout3 a:visited,
#novel_contents.customlayout3 .customlayout-color a:visited {color:#857;}
#novel_contents.customlayout3 a:hover,
#novel_contents.customlayout3 .customlayout-color a:hover {color:#cf0;}
.novel_sublist2.underline.customlayout3 {border-bottom:1px solid #ccc;}
dl.novel_sublist2.customlayout3 {border-color:#000;}
dl.novel_sublist2.customlayout3:hover {border-color:#cf0;}

/* 通常1 */
body.customlayout4 {background-color:#ccf; background-image:none;}
#novel_color.customlayout4 {color:#444;}
#novel_contents.customlayout4 div.novelrankingtag,
#novel_contents.customlayout4 .customlayout-color {color:#444;}
#novel_contents.customlayout4 a:link,
#novel_contents.customlayout4 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout4 a:visited,
#novel_contents.customlayout4 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout4 a:hover,
#novel_contents.customlayout4 .customlayout-color a:hover {color:#00f;}
.novel_sublist2.underline.customlayout4 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout4 {border-color:#ccf;}
dl.novel_sublist2.customlayout4:hover {border-color:#00f;}

/* 通常2 */
body.customlayout5 {background-color:#cfc; background-image:none;}
#novel_color.customlayout5 {color:#444;}
#novel_contents.customlayout5 div.novelrankingtag,
#novel_contents.customlayout5 .customlayout-color {color:#444;}
#novel_contents.customlayout5 a:link,
#novel_contents.customlayout5 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout5 a:visited,
#novel_contents.customlayout5 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout5 a:hover,
#novel_contents.customlayout5 .customlayout-color a:hover {color:#00f;}
.novel_sublist2.underline.customlayout5 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout5 {border-color:#cfc;}
dl.novel_sublist2.customlayout5:hover {border-color:#00f;}

/* シンプル */
body.customlayout6 {background-color:#fafafa; background-image:none;}
#novel_color.customlayout6 {color:#444;}
#novel_contents.customlayout6 div.novelrankingtag,
#novel_contents.customlayout6 .customlayout-color {color:#444;}
#novel_contents.customlayout6 a:link,
#novel_contents.customlayout6 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout6 a:visited,
#novel_contents.customlayout6 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout6 a:hover,
#novel_contents.customlayout6 .customlayout-color a:hover {color:#393;}
.novel_sublist2.underline.customlayout6 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout6 {border-color:#fafafa;}
dl.novel_sublist2.customlayout6:hover {border-color:#393;}

/* おすすめ設定 */
body.customlayout7 {background-color:#edf7ff; background-image:none;}
#novel_color.customlayout7 {color:#000;}
#novel_contents.customlayout7 div.novelrankingtag,
#novel_contents.customlayout7 .customlayout-color {color:#000;}
#novel_contents.customlayout7 a:link,
#novel_contents.customlayout7 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout7 a:visited,
#novel_contents.customlayout7 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout7 a:hover,
#novel_contents.customlayout7 .customlayout-color a:hover {color:#00f;}
.novel_sublist2.underline.customlayout7 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout7 {border-color:#edf7ff;}
dl.novel_sublist2.customlayout7:hover {border-color:#00f;}


/* 標準レイアウト(元デザインパターンA) */
#novel_contents {
	margin: 0;
	width: 100%;
	padding: 0px 0px 10px 0px;
}

#novel_color {
	color:#444444;
	font-size: 16px;
	margin: 0px auto;
	width: 730px;
}

.novel_view{
	line-height: 180%;
}

.novel_title,.novel_subtitle {
	font-size: 170%;
	line-height: 150%;
}

.novel_ex {
	font-size: 110%;
	line-height: 180%;
}

td.long_subtitle{
	width: 520px;
}

td.long_update{
	width: 190px;
}

table#novel_sublist tr {
	border-bottom:1px solid #ffffff;
}

/* メンテナンスのお知らせ */
.announce-bar {
	width: 700px;
	padding-top:5px;
	margin-right: auto;
	margin-bottom:20px;
	margin-left: auto;
}
.announce-bar__link {
	line-height: 1.7;
	display: block;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	color: #03c;
	border: 1px solid #03c;
	border-radius: 3px;
	background-color: #fff;
}
.announce-bar__link:visited {
	color:#03c;
}
.announce-bar__link:hover,.announce-bar__link:active {
	color:#393;
}

/* ブラックモード1 */
.customlayout2 .announce-bar__link {
	color:#fcf;
	border-color: #fcf;
	background:none;
}
.customlayout2 .announce-bar__link:visited {
	color:#fcf;
}
.customlayout2 .announce-bar__link:hover,.customlayout2 .announce-bar__link:active {
	color:#f03;
}
/* ブラックモード2 */
.customlayout3 .announce-bar__link {
	color:#ff9;
	border-color: #ff9;
	background:none;
}
.customlayout3 .announce-bar__link:visited {
	color:#ff9;
}
.customlayout3 .announce-bar__link:hover,.customlayout3 .announce-bar__link:active {
	color:#cf0;
}
/* 通常1 */
.customlayout4 .announce-bar__link {
	color:#00f;
	border-color: #00f;
	background:none;
}
.customlayout4 .announce-bar__link:visited {
	color:#00f;
}
.customlayout4 .announce-bar__link:hover,.customlayout4 .announce-bar__link:active {
	color:#00f;
}
/* 通常2 */
.customlayout5 .announce-bar__link {
	color:#00f;
	border-color: #00f;
	background:none;
}
.customlayout5 .announce-bar__link:visited {
	color:#00f;
}
.customlayout5 .announce-bar__link:hover,.customlayout5 .announce-bar__link:active {
	color:#00f;
}
/* シンプル */
.customlayout6 .announce-bar__link {
	color:#00f;
	border-color: #00f;
	background:none;
}
.customlayout6 .announce-bar__link:visited {
	color:#00f;
}
.customlayout6 .announce-bar__link:hover,.customlayout6 .announce-bar__link:active {
	color:#393;
}
/* おすすめ設定 */
.customlayout7 .announce-bar__link {
	color:#00f;
	border-color: #00f;
	background:none;
}
.customlayout7 .announce-bar__link:visited {
	color:#00f;
}
.customlayout7 .announce-bar__link:hover,.customlayout7 .announce-bar__link:active {
	color:#00f;
}
.announce-bar__block {
	display: inline-block;
	margin-right: 2.5px;
	margin-left: 2.5px;
}